/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o cabeçalho */
h2 {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilo para o formulário */
form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

/* Estilo para as etiquetas */
label {
    display: block;
    margin-top: 10px;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão Salvar */
button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão Cancelar */
button[type="button"] {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
