/* Estilização básica para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para o contêiner do formulário */
div {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o cabeçalho "Login" */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para as etiquetas e campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para o botão de entrada */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para as mensagens de erro */
strong {
    color: #d9534f;
}
